BOT_TOKEN=your_bot_token_here

POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=earnit

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
